{% extends 'team/base.html' %}
{% load static %}

{% block title %}
<title>Season 19/20</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h3 class="details-name" style="font-weight: bold">Player Stats</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm sortable">
                  <thead>
                    <tr>
                      <th colspan="2"></th>
                      <th colspan="2">OVERALL</th>
                      <th colspan="3">2FG</th>
                      <th colspan="3">3FG</th>
                      <th colspan="3">FT</th>
                      <th colspan="3">REBS</th>
                      <th colspan="5"></th>
                    </tr>
                  </thead>
                  <thead>
                    <tr>
                      <th scope="col" data-firstsort="desc">PLAYER</th>
                      <th scope="col" data-firstsort="desc">MIN</th>
                      <th scope="col" data-firstsort="desc">PTS</th>
                      <th scope="col" data-firstsort="desc">FG%</th>
                      <th scope="col" data-firstsort="desc">M</th>
                      <th scope="col" data-firstsort="desc">A</th>
                      <th scope="col" data-firstsort="desc">%</th>
                      <th scope="col" data-firstsort="desc">M</th>
                      <th scope="col" data-firstsort="desc">A</th>
                      <th scope="col" data-firstsort="desc">%</th>
                      <th scope="col" data-firstsort="desc">M</th>
                      <th scope="col" data-firstsort="desc">A</th>
                      <th scope="col" data-firstsort="desc">%</th>
                      <th scope="col" data-firstsort="desc">DEF</th>
                      <th scope="col" data-firstsort="desc">OFF</th>
                      <th scope="col" data-firstsort="desc">TOT</th>
                      <th scope="col" data-firstsort="desc">ASS</th>
                      <th scope="col" data-firstsort="desc">STL</th>
                      <th scope="col" data-firstsort="desc">BLK</th>
                      <th scope="col" data-firstsort="desc">TOV</th>
                      <th scope="col" data-firstsort="desc">PIR</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for player in  players %}
                  {% if player.current %}
                    <tr>
                      <td><a class="stats-link" href="{% url 'team:detail' player.slug %}">{{ player.name }}</a></td>
                      <td>{{ player.avg_min }}</td>
                      <td>{{ player.avg_pts }}</td>
                      <td>{{ player.avg_fg }}</td>
                      <td>{{ player.avg_2fgm }}</td>
                      <td>{{ player.avg_2fga }}</td>
                      <td>{{ player.avg_2fg }}</td>
                      <td>{{ player.avg_3fgm }}</td>
                      <td>{{ player.avg_3fga }}</td>
                      <td>{{ player.avg_3fg }}</td>
                      <td>{{ player.avg_ftm }}</td>
                      <td>{{ player.avg_fta }}</td>
                      <td>{{ player.avg_ft }}</td>
                      <td>{{ player.avg_def_reb }}</td>
                      <td>{{ player.avg_off_reb }}</td>
                      <td>{{ player.avg_tot_reb }}</td>
                      <td>{{ player.avg_ass }}</td>
                      <td>{{ player.avg_stl }}</td>
                      <td>{{ player.avg_blk }}</td>
                      <td>{{ player.avg_tos }}</td>
                      <td>{{ player.avg_pir }}</td>
                    </tr>
                  {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
            </div>
        <br>
    </div>
</div>
{% endblock %}